<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu/buttons/continue_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{196,64}</string>
                <key>spriteSourceSize</key>
                <string>{252,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/buttons/continue_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{196,64}</string>
                <key>spriteSourceSize</key>
                <string>{252,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/buttons/quit_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{196,64}</string>
                <key>spriteSourceSize</key>
                <string>{252,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/buttons/quit_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{196,64}</string>
                <key>spriteSourceSize</key>
                <string>{252,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/buttons/start_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{196,64}</string>
                <key>spriteSourceSize</key>
                <string>{252,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/buttons/start_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{196,64}</string>
                <key>spriteSourceSize</key>
                <string>{252,86}</string>
                <key>textureRect</key>
                <string>{{1,67},{196,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/joanna/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{1,133},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/joanna/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{57,133},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/joanna/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{113,133},{54,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu/life/hud_heartEmpty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,45}</string>
                <key>spriteSourceSize</key>
                <string>{53,45}</string>
                <key>textureRect</key>
                <string>{{181,145},{53,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/life/hud_heartFull.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,45}</string>
                <key>spriteSourceSize</key>
                <string>{53,45}</string>
                <key>textureRect</key>
                <string>{{113,189},{53,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu/life/hud_heartHalf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,45}</string>
                <key>spriteSourceSize</key>
                <string>{53,45}</string>
                <key>textureRect</key>
                <string>{{160,192},{53,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu/nicolas/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,70}</string>
                <key>spriteSourceSize</key>
                <string>{44,70}</string>
                <key>textureRect</key>
                <string>{{199,1},{44,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/nicolas/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,70}</string>
                <key>spriteSourceSize</key>
                <string>{44,70}</string>
                <key>textureRect</key>
                <string>{{199,73},{44,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu/nicolas/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,70}</string>
                <key>spriteSourceSize</key>
                <string>{44,70}</string>
                <key>textureRect</key>
                <string>{{1,201},{44,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{244,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c8c0e4e41ecb02fca702f9341c4ac1:667035a1305773be928adc8478872f1d:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
